<<<<<<< HEAD
<<<<<<< HEAD
@font-face {
  font-family: "Ot-regular";
  src: url(./fonts/OttercoDisplay-Regular.woff2);
}

@font-face {
  font-family: "Ot-medium";
  src: url(./fonts/OttercoDisplay-Medium.woff2);
}

@font-face {
  font-family: "Ot-light";
  src: url(./fonts/Otterco-Regular.woff2);
}
=======
=======
>>>>>>> 79a8ab375a9d3ef3636be8f45cbf257150d0de95
@font-face {
  font-family: "Ot-regular";
  src: url(./fonts/OttercoDisplay-Regular.woff2);
}

@font-face {
  font-family: "Ot-medium";
  src: url(./fonts/OttercoDisplay-Medium.woff2);
}

@font-face {
  font-family: "Ot-light";
  src: url(./fonts/Otterco-Regular.woff2);
}
<<<<<<< HEAD
>>>>>>> 1e9ec29 (2.0)
=======
>>>>>>> 79a8ab375a9d3ef3636be8f45cbf257150d0de95
