h1 {
  font-size: 3.5em;
  line-height: 1.2;
  font-family: "Ot-medium";
}

h2 {
  font-size: 2.5em;
  letter-spacing: 0.01vw;
  line-height: 1.5;
  font-family: "Ot-light";
}

h4 {
  font-family: "Ot-light";
  font-size: 1.2em;
  font-weight: 100;
  color: #282727;
}

p {
  font-family: "Ot-light";
  font-size: 0.9em;
  color: #363636;
}

button {
  cursor: pointer;
}

li {
  display: inline-block;
  color: #363636;
  list-style: none;
  padding-inline: 10px;
  font-weight: 400;
}

span {
  text-align: center;
  display: block;
}

a {
  width: fit-content;
  text-decoration: none;
  color: inherit;
  font-size: 1vw;
  font-size: initial;
}

.capsule {
  outline: 0;
  border: 0;
  padding: 1.2em 2em;
  border-radius: 30px;
}

.btn-border {
  border: 5px solid #f0f1ef;
  transition: all 0.5s;
}

.btn-border:hover {
  border: 5px solid #bdbdbd;
}

.white-capsule {
  background-color: #fff;
  color: #363636;
}

.black-capsule {
  background-color: #252425;
  color: #f9f8f9;
}

.mobile {
  display: none;
}

.footer-btns a:nth-child(1) {
  margin-right: 10px;
}
